<main class="main">
  <div class="inner">
    <div class="card__wrapper">
      <% @posts.each do |post|%>
        <div class="card">
          <%= image_tag post.image, size: "200x200" %>
            <div class="card__body">
              <%= post.title %>
              <p class="card__summary">
                <%= post.prefecture47.name %>
                <%= post.genre.name %>
              </p>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
<%# <%= link_to(new_post_path, class: 'post-btn') do %>
  <%# <span class='post-btn-text'>投稿する</span> %>
  <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "post-btn-icon" %>
<%# <% end %>
